.sd {
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.bg1 {
  background: linear-gradient(90deg, #75cceb 0%, #6fb4ff 100%);
  box-shadow: #70b8fb 0px 2px 8px;
}

.bg2 {
  background: linear-gradient(90deg, #75cceb 0%, #6fb4ff 100%);
}

.sd1 {
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.sd2 {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 18px;
}
.bg3{
 background:
    radial-gradient(circle, white 30%, transparent 31%),
    conic-gradient(from 0deg at center, transparent 0deg, transparent 90deg, white 90deg 290deg);
}
